.forum-cont {
    background-color: cornflowerblue;
    position: relative;
    text-align: center;
    padding-top: 10vh;
    margin-bottom: -18px;
    height: 100vh;
    width: 100%;
    
    
}




.heading-forum {
    /* padding-top: 200px; */
    background-color: skyblue;
    height: 100%;
    padding-top: 10vh;
    
}

.heading-forum h1 {
    padding-bottom: 5vh;


    
}









.forum-nav{
    display:flex;
    align-items: center;
    
}

.forum-cont > nav{
    background-color: black;
}


.navigation{
    background-color:white;
    padding: 10px;
    width: 100%;
    /* display: inline-block;
    border-radius: 5px; */
    /* max-height: 80px;
    margin-right:10px; */
}

/* .close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;

} */



.nav-item a:hover{
 display:flex;
}

/* .hide{
    display: none;
} */

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
 
}




/*Navbar for the smartphones*/

  /* Search Box styles */
.search-box{
    border: solid 0.5px black;
    padding-top: 5vh;
    display:block;
    justify-content: center;
    overflow: hidden;
    /* margin-left: 5px;
    margin-right: 5px; */
    /* padding-right: 5%; */
    /* box-shadow:1px 2px 3px blue; */

}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:green;
    color:#000000;
}

.search-box button:hover{
    background-color: blue;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

.foot-forum {
    text-align: center;
    padding-top: 15px;
    /* padding-bottom: 260px; */
}

.posts {
    margin-top: 5vh;
}