/* .login-header {
    background-color: navy;
    position: relative;
    padding-top: 150px;
    padding-bottom: 135px;
    } */

/* .login-link {
    text-align: center;
    position: relative;
    padding-right: 50px;
} */



.login-button {

    margin-top: 400px;

}

h6 {
    text-align: center;
    color: blue;
    padding-top: 25px;
}

#btn2 {
    margin-top: 10px;
}


.reg-form {
    overflow-x: hidden;
}

