.heading > h1 {
    color: blueviolet;
    padding-bottom: 50px;
    padding-right: 30px;
}

/* .heading {
    padding-top: 10vh;
    background-color: #33ffba;
    position: relative;
    
} */

.reg-form > p {
    text-align: center;
    padding-top: 50px;
}

.form-group {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 100% !important;
    margin: 0 auto;
    padding: 10px;
    position: relative;

}


/* @media only screen and (min-width: 600px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 112px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 920px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 130px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1030px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 140px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1080px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 145px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1120px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 150px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1120px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 165px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1270px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 175px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1350px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 183px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 195px;
        margin-top: 25px;
    }
  }

  @media only screen and (min-width: 1470px) {
    .form-group {
        overflow: hidden;
        white-space: nowrap;
        display: block;
        margin-left: 205px;
        margin-top: 25px;
    }
  }  */

  .top-nav-log {
    padding-top: 15vh;
    background-color: cornflowerblue;
    position: relative;
  }